
body {
  background-color: cornflowerblue;
}

.wrapper {
  background-color: #ffff;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.task-input {
  position: relative;
  height:52px;
  padding: 0 25px;
  
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.input-container input {
  margin-top: 20px;
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 0 20px 0 53px;
  border: 1px solid #999;
}

.input-icon {
  top: 50%;
  position: absolute;
  transform: translate(17px, -10%);
}

.submit-btn {
  position: absolute;
  right: 20px; 
  height: 36px; 
  border: none;
  background-color: #3C87FF; 
  color:#ffff;
  transform: translate(17px, 28%);
  border-radius: 5px;
  cursor: pointer;
  
}

.task-input input:focus,
.task-input input.active{
  padding-left: 52px;
  border: 2px solid #3C87FF;
}
.task-input input::placeholder{
  color: #bfbfbf;
}

.controls, li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls{
  padding: 25px 25px;
  border-bottom: 1px solid #ccc;
}
.filters span{
  margin: 0 8px;
  font-size: 17px;
  font-style: normal;
  color: #444444;
  cursor: pointer;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
}

.filters span:first-child{
  margin-left: 0;
}
.filters span.active {
  border-bottom-color: #3C87FF;
}
.controls .clear-btn{
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  padding: 7px 13px;
  border-radius: 4px;
  letter-spacing: 0.3px;
  pointer-events: none;
  transition: transform 0.25s ease;
  background-color: #3C87FF;
}
.clear-btn.active{
  opacity: 0.9;
  pointer-events: auto;
}
.clear-btn:active{
  transform: scale(0.93);
}
.task-box{
  margin-top: 20px;
  margin-right: 5px;
  padding: 0 20px 10px 25px;
}
.task-box.overflow{
  overflow-y: auto;
  max-height: 300px;
}
.task-box::-webkit-scrollbar{
  width: 5px;
}
.task-box::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.task-box::-webkit-scrollbar-thumb{
  background: #e6e6e6;
  border-radius: 25px;
}
.task-box .task{
  list-style: none;
  font-size: 17px;
  margin-bottom: 18px;
  padding-bottom: 16px;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
}
.task-box .task:last-child{
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}
.task-label{
  display: flex;
  align-items: center;
}
.task-label input{
  margin-top: 7px;
  accent-color: #3C87FF;
}
.task-label > p{
  user-select: none;
  margin-left: 12px;
  word-wrap: break-word;
}
.task-label > p.checked{
  text-decoration: line-through;
}
.task-box .settings{
  position: relative;
}

.important-btn {
  background-color: #3C87FF;
  opacity: 0.9;
  border-radius: 4px;
  margin-left: 10px;
  border: none;
  color: antiquewhite;
}

.delete {
  background-color: #3C87FF;
  opacity: 0.9;
  border-radius: 4px;
  margin-left: 10px;
  border: none;
  color: antiquewhite;
}